.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.box {
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    background: rgb(179, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: .5s;
}
